*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    position: relative;
    z-index: -1;
}

.card{
    height: 400px;
    max-width:700px ;
    margin: 1em 2em;
    display: flex;
    border-radius: 1.5em;
    background-color: white;
    position:absolute;
    z-index:1;

}

.card-left img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 1.5em 0 0 1.5em;
}

.card-right{
    font-size: larger;
    text-align: left;
    margin: 1.5em 2em;
}

.btn{
    display: flex;
    width: 300px;
    height: 40px;
    padding:10px 0px 0px 80px ;
    margin-top: 2em;
    text-align: center;
    background-color: rgb(12, 152, 28);
    border-radius: 25px;
    gap:30px;
}

.cart-btn{
    color:white;
}

.btn:hover{
    cursor: pointer;
}